.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 500px;

}

.one {
    background-color: greenyellow;
    height: 100px;
    flex-basis: 100%;
    margin: 5px;

}

.two {
    background-color: aqua;
    height: 100px;
    flex-basis: 33%;
}

.three {
    background-color: red;
    height: 100px;
    margin: 5px;
    flex-basis: 23%;
}